
/*
Need to center the gallery items within the div element, they are slightly off center.
Color scheme is a bit shit.
Finish search functionality
See if we can format the text of data-captions.*/

body {
    background-color: whitesmoke;
}

/*
Header is currently using flex box to center the search bar.
Might be easier to use Grid only as I can't use media queries anyway
*/

header {
    display: flex;
    justify-content: center;
}

input[type=text] {
    line-height: 30px;
    font-size: 20px;
    margin-top: 25px;
    padding: 5px;  
    border-radius: 5px;
    border: 3px solid #7e9a9a;
    width: 30%;  
    transition: width 0.15s ease-in-out; 
   } 

input[type=text]:focus { 
    width: 40%; 
    border-radius: 5px;
    border: 5px dashed #7e9a9a;   
}

.gallery {
    max-width: 840px;
    margin: 50px auto;
    padding: 20px 10px;
    display: grid;
    grid-gap: 10px;
     grid: auto-flow / repeat(4, 200px);
    background-color: #7e9a9a;
    border-radius: 15px;
}

data-captions {
    font-size: 30px;
}
