
/*
Finish search functionality
See if we can format the text of data-captions.*/

* {
  box-sizing: border-box;
}

body {
    background-color: whitesmoke;
    padding: 15px;
}

header {
    display: flex;
    justify-content: center;
}

input[type=search] {
    line-height: 30px;
    font-size: 20px;
    margin-top: 25px;
    padding: 5px;  
    border-radius: 5px;
    border: 3px solid #9f9f7f;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
    width: 40%;  
    transition: width 0.3s ease-in-out; 
   } 

input[type=search]:focus { 
    width: 50%; 
    border-radius: 5px;
    border: 5px dashed #9f9f7f;   
}

.gallery {
    max-width: 940px;
    min-width: 230px;
    margin: 50px auto;
    padding: 20px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
    justify-items: space-around;
    grid-gap: 10px;
    
    background-color: #9f9f7f;
    border-radius: 15px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
}

.gallery img {
    padding: 3px;
    border: 5px dashed rgba(255,255,255,0.3);
    border-radius: 5px;
}
